* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

html {
   scroll-behavior: smooth;
}

body {
   font-family: Poppins, 'Helvetica Neue', Arial, sans-serif;
   line-height: 1.5;
   color: #f3f3f3;
   background-color: #131313;
}

h1, h2, h3, h4, h5, h6 {
   line-height: 1.2;
   margin-bottom: 0.5em;
}

p {
   margin-bottom: 1em;
}

a {
   color: inherit;
   text-decoration: none;
}

img {
   max-width: 100%;
   height: auto;
   display: block;
}

button {
   cursor: pointer;
   font-family: inherit;
}

ul, ol {
   list-style: none;
}