@font-face {
  font-family: 'Satoshi';
  src: url('../media/font/Satoshi-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Satoshi';
  src: url('../media/font/Satoshi-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Satoshi';
  src: url('../media/font/Satoshi-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

html {
   scroll-behavior: smooth;
}

body {
   /* font-family: Poppins, 'Helvetica Neue', Arial, sans-serif; */
   font-family: 'Satoshi', 'Helvetica Neue', Arial, sans-serif;
   line-height: 1.5;
   color: #f3f3f3;
   background-color: #131313;
}

h1, h2, h3, h4, h5, h6 {
   line-height: 1.2;
   margin-bottom: 0.5em;
}

p {
   margin-bottom: 1em;
}

a {
   color: inherit;
   text-decoration: none;
}

img {
   max-width: 100%;
   height: auto;
}

button {
   cursor: pointer;
   font-family: inherit;
}

ul, ol {
   list-style: none;
}

section {
   max-width: 80%;
   margin: 0 auto;
   display: flex;
   flex-direction: column;
   justify-content: center;
   
}

header {
   background-color: #4b4b4b44;
   padding: 1.5em 2em;
   display: flex;
   align-items: center;
   justify-content: space-between;
}

.voci-nav {
   display: flex;
   gap: 1.5em;
}

#hero {
   height: 90vh;
}